.DS_Store
/.gitconfig/user
xcuserdata/
/shares/lightning-api-certs/*
!/shares/lightning-api-certs/.keep
/shares/testnet/lightning-api-certs/*
!/shares/testnet/lightning-api-certs/.keep
/shares/testnet/ln-backup/*
!/shares/testnet/ln-backup/.keep
