.DS_Store
/.gitconfig/user
xcuserdata/
/shares/dot-bitcoin/*
!/shares/dot-bitcoin/bitcoin.conf
/shares/dot-lightning/*
!/shares/dot-lightning/config
/shares/lightning-api-certs/*
!/shares/lightning-api-certs/.keep
/shares/testnet/dot-bitcoin/*
!/shares/testnet/dot-bitcoin/bitcoin.conf
/shares/testnet/dot-lightning/*
!/shares/testnet/dot-lightning/config
/shares/testnet/ln-backup/*
!/shares/testnet/ln-backup/.keep
/shares/testnet/lightning-api-certs/*
!/shares/testnet/lightning-api-certs/.keep
