.DS_Store
/.gitconfig/user
xcuserdata/

/shares/dot-bitcoin/*
!/shares/dot-bitcoin/bitcoin.conf
/shares/dot-lightning/*
!/shares/dot-lightning/config
/shares/rtl-config/*
!/shares/rtl-config/RTL-Config.json
!/shares/rtl-config/example.rune

/shares/testnet/dot-bitcoin/*
!/shares/testnet/dot-bitcoin/bitcoin.conf
/shares/testnet/dot-lightning/*
!/shares/testnet/dot-lightning/config
/shares/testnet/ln-backup/*
!/shares/testnet/ln-backup/.keep
/shares/testnet/rtl-config/*
!/shares/testnet/rtl-config/RTL-Config.json
!/shares/testnet/rtl-config/example.rune

/shares/testnet3/dot-bitcoin/*
!/shares/testnet3/dot-bitcoin/bitcoin.conf
/shares/testnet3/dot-lightning/*
!/shares/testnet3/dot-lightning/config
/shares/testnet3/ln-backup/*
!/shares/testnet3/ln-backup/.keep
/shares/testnet3/rtl-config/*
!/shares/testnet3/rtl-config/RTL-Config.json
!/shares/testnet3/rtl-config/example.rune
